@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Noto+Serif+JP:wght@900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Instrument Serif", serif;
}

a {
  color: var(--btn-color);
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

#content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.celda {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--bg-color, transparent);
  color: var(--text-color, inherit);

  opacity: 0;
  transition: opacity 1s ease;
}

.celda.activa {
  display: flex;
  opacity: 1;
}

.boton-nav {
  position: absolute;
  font-family: "Instrument Serif", serif;
  font-size: 1rem;

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
  z-index: 1;

  color: var(--btn-color, inherit);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .boton-nav {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .boton-nav {
    font-size: 2rem;
  }
}

.btn_arriba {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: center;
}
@media (max-width: 768px) {
  .btn_arriba {
    top: 2rem !important; /* en lugar de 1rem */
  }
}

.btn_abajo {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  transform-origin: center;
}

@media (max-width: 768px) {
  .btn_abajo {
    bottom: 6rem !important; /* en lugar de 1rem */
  }
}

.btn_derecha {
  right: 0rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: center;
}

.btn_izquierda {
  left: 0rem;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  transform-origin: center;
}

/*cada una de las secciones*/
/*CENTRO*/

/* PALETA PARA LA PANTALLA CENTRAL */
.celda.centro {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-color: #000000;
}

.centro h1 {
  position: absolute;
  top: 15%;
  left: 18%;
  font-family: "Instrument Serif", serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

/* 1) Asegúrate de que el wrapper no le ponga ancho fijo */
.inguma {
  max-width: 100%; /* para que no sobrepase el ancho de su padre */
}

/* 2) A la imagen: ocupa todo el ancho del wrapper, 
      pero siempre entre 50px y 400px, ideal 30vw */
.inguma img {
  display: block;
  width: 100%;
  max-width: clamp(50px, 30vw, 400px);
  height: auto; /* conserva proporción */

  position: absolute;
  bottom: 0%;
  right: 0%;
}

.animate-e {
  /* Duración 5s, va y vuelve (alternate), y se repite infinitamente */
  animation: colorFade 5s infinite alternate ease-in-out;
}

@keyframes colorFade {
  from {
    color: white;
  } /* inicio en blanco */
  to {
    color: red;
  } /* acaba en rojo */
}

/*IZQUIERDA*/

/* PALETA PARA LA PANTALLA IZQUIERDA */
.celda.izquierda {
  --bg-color: #16610e;
  --text-color: #fed16a;
  --text2-color: #fff4a4;
  --btn-color: #f97a00;
}

.izquierda h2 {
  color: var(--text2-color);
}

.izq_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 10%;
  padding-right: 20px;
  gap: 1vw;
}

.izq_2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.izq_3 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding-right: 100px;
}

.lista_libros {
  display: flex;
  flex-direction: column;
  height: 20vh;
  gap: 1vw;
  overflow-y: auto; /* scroll vertical */
}

/*ABAJO*/
.celda.abajo {
  --text-color: #333;
  --btn-color: #f00;
}
.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.carousel img {
  width: 300px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*DERECHA*/
.celda.derecha {
  --bg-color: #333;
  --text-color: #333;
  --btn-color: #b83f69;
}

.der_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0%;
  right: 0%;
  gap: 1vw;
}

.der_1 > * {
  background: linear-gradient(
    to right,
    var(--btn-color) 0%,
    var(--btn-color) 30%,
    var(--bg-color) 100%
  );
  background-color: var(--btn-color);
  padding: 1vw 2vw;
  position: relative;
  padding-right: 2rem;
  padding-bottom: 1rem;
  border-radius: 1rem 0.1rem 0.1rem 0.1rem;
}

.der_1 > *:hover {
  background: var(--btn-color);
  color: var(--bg-color);

  transform: scaleX(1.2);
  transform-origin: right;
  transition: all 1s ease;
}
